.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

@keyframes animation-asteroid-blocks {
  0% {
    transform: translateZ(-1px); }
  25% {
    transform: translateZ(1px); }
  100% {
    transform: translateZ(-100px); } }

.animation-asteroid-blocks {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: animation-asteroid-blocks; }

@keyframes animation-asteroid-zoom {
  0% {
    perspective: 1px; }
  100% {
    perspective: 10px; } }

.animation-asteroid-zoom {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: animation-asteroid-zoom; }

@keyframes animation-chromatophore-icon {
  0% { }
  50% {
    fill: #043546; }
  100% {
    fill: #1B969E; } }

.animation-chromatophore-icon:hover {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: animation-chromatophore-icon; }

@keyframes animation-chromatophore-contract {
  0% {
    color: #0A2425;
    text-shadow: 0 30px #1B969E, 0 -30px #ECD4B0; }
  25% {
    color: #FCFAED; }
  50% {
    color: #1B969E; }
  75% {
    color: #ECD4B0; }
  100% {
    color: #043546; } }

.animation-chromatophore-contract {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: animation-chromatophore-contract; }

@keyframes animation-chromatophore-expand {
  0% {
    text-shadow: 0 -10px #1B969E, 0 10px #043546; }
  50% {
    color: #043546; }
  100% {
    color: #1B969E;
    text-shadow: 0 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0); } }

.animation-chromatophore-expand:hover {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: animation-chromatophore-expand;
  animation-timing-function: linear; }

@keyframes animation-chromatophore-reel {
  0% {
    color: #0A2425;
    stroke: #0A2425; }
  25% {
    color: #FCFAED;
    stroke: #FCFAED;
    text-shadow: 15px 0 #1B969E, -15px 0 #043546; }
  50% {
    color: #043546;
    stroke: #043546; }
  75% {
    color: #ECD4B0;
    stroke: #ECD4B0; }
  100% {
    color: #1B969E;
    stroke: #1B969E;
    text-shadow: 0 15px rgba(255, 255, 255, 0), 0 -15px rgba(255, 255, 255, 0); } }

.animation-chromatophore-reel:hover {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: animation-chromatophore-reel; }

.scraps .scrap {
  color: #FCFAED;
  font-weight: 600;
  font-size: 1rem;
  mix-blend-mode: difference;
  padding: 1rem 0;
  position: fixed;
  z-index: 2; }
  .scraps .scrap.brand {
    font-size: 1.5rem;
    left: 5vw;
    top: 5vh; }
  .scraps .scrap .brand-sub {
    display: block;
    font-size: 1rem;
    left: 1rem;
    position: relative; }
  .scraps .scrap.links {
    align-items: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 5vw; }
  .scraps .scrap .link-contact,
  .scraps .scrap .link-projects {
    background-color: transparent;
    position: static; }
    .scraps .scrap .link-contact:focus,
    .scraps .scrap .link-projects:focus {
      outline: none;
      box-shadow: none; }
  .scraps .scrap .link-resume,
  .scraps .scrap .link-github,
  .scraps .scrap .link-linkedin {
    background-color: transparent;
    position: static; }
    .scraps .scrap .link-resume .icon-github,
    .scraps .scrap .link-resume .icon-linkedin,
    .scraps .scrap .link-resume .icon-resume,
    .scraps .scrap .link-github .icon-github,
    .scraps .scrap .link-github .icon-linkedin,
    .scraps .scrap .link-github .icon-resume,
    .scraps .scrap .link-linkedin .icon-github,
    .scraps .scrap .link-linkedin .icon-linkedin,
    .scraps .scrap .link-linkedin .icon-resume {
      fill: #FCFAED;
      height: 2rem; }
    .scraps .scrap .link-resume:focus,
    .scraps .scrap .link-github:focus,
    .scraps .scrap .link-linkedin:focus {
      outline: none;
      box-shadow: none; }
  .scraps .scrap.display-none {
    display: none; }

.page-landing {
  height: 80vh; }

.page-spacer {
  height: 20vh; }

.page {
  background-color: #FCFAED;
  padding: calc(2rem + 2vw); }
  .page .page-header {
    color: #043546;
    font-weight: normal;
    font-size: 3rem;
    padding: calc(1rem + 1vw); }

.page-projects {
  width: 75vw;
  margin-left: 12.5vw; }
  .page-projects .projects-row {
    margin: calc(2rem + 2vw) 0; }
    .page-projects .projects-row a {
      color: #043546;
      font-weight: 700;
      text-decoration: none; }
    .page-projects .projects-row .btn {
      align-items: center;
      color: #043546;
      stroke: #043546;
      display: flex;
      font-weight: 600; }
      .page-projects .projects-row .btn:focus {
        outline: none;
        box-shadow: none; }
    .page-projects .projects-row .ext-link-aws path {
      fill: #aaa;
      transition: 0.35s ease-out; }
    .page-projects .projects-row .ext-link-aws:hover .icon-aws-text {
      fill: #252f3e; }
    .page-projects .projects-row .ext-link-aws:hover .icon-aws-arrow {
      fill: #f90; }
    .page-projects .projects-row .ext-link-bootstrap .logo-bootstrap-path {
      fill: #aaa;
      transition: 0.35s ease-out; }
    .page-projects .projects-row .ext-link-bootstrap:hover .logo-bootstrap-path {
      fill: #563d7c; }
    .page-projects .projects-row .ext-link-django path {
      fill: #aaa;
      transition: 0.35s ease-out; }
    .page-projects .projects-row .ext-link-django:hover path {
      fill: #092e20; }
    .page-projects .projects-row .ext-link-flask path {
      fill: #aaa;
      transition: 0.35s ease-out; }
    .page-projects .projects-row .ext-link-flask:hover path {
      fill: black; }
    .page-projects .projects-row .ext-link-heroku .logo-heroku-path {
      fill: #aaa;
      transition: 0.35s ease-out; }
    .page-projects .projects-row .ext-link-heroku:hover .logo-heroku-path {
      fill: #430098; }
    .page-projects .projects-row .ext-link-postgresql path {
      fill: #aaa;
      transition: 0.35s ease-out; }
    .page-projects .projects-row .ext-link-postgresql:hover .logo-postgresql-fill-none-stroke-fff {
      fill: none;
      stroke: #fff; }
    .page-projects .projects-row .ext-link-postgresql:hover .logo-postgresql-fill-fff-stroke-fff {
      fill: #fff;
      stroke: #fff; }
    .page-projects .projects-row .ext-link-postgresql:hover .logo-postgresql-fill-336791 {
      fill: #336791; }
    .page-projects .projects-row .ext-link-postgresql:hover .logo-postgresql-stroke-000 {
      stroke: #000; }
    .page-projects .projects-row .ext-link-postgresql:hover .logo-postgresql-fill-585858 {
      fill: #585858; }
    .page-projects .projects-row figure {
      margin: 0;
      height: max-content;
      position: absolute;
      width: 100%; }
      .page-projects .projects-row figure::after {
        background-color: #0A2425;
        content: '';
        height: 50%;
        position: absolute;
        top: 50%;
        width: 0; }
      .page-projects .projects-row figure::before {
        background-color: #043546;
        content: '';
        height: 50%;
        position: absolute;
        width: 0; }
      .page-projects .projects-row figure:hover {
        cursor: pointer; }
        .page-projects .projects-row figure:hover::after {
          background-color: #FCFAED;
          mix-blend-mode: difference;
          right: 0;
          width: 100%;
          transition: 0.5s ease-in; }
        .page-projects .projects-row figure:hover::before {
          background-color: #FCFAED;
          mix-blend-mode: difference;
          width: 100%;
          transition: 0.5s ease-in; }
    .page-projects .projects-row .icon-external-link {
      height: 1rem;
      margin: 0 0.5rem;
      width: 1rem; }
    .page-projects .projects-row .projects-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .page-projects .projects-row .projects-tech {
      display: flex;
      flex-direction: row; }
    .page-projects .projects-row .projects-thumbnail {
      object-fit: cover;
      height: 100%;
      width: 100%; }
    .page-projects .projects-row .projects-thumbnail-description {
      color: #043546;
      font-size: 1.1rem;
      padding: 0 calc(1rem + 1vw); }
    .page-projects .projects-row .projects-thumbnail-header {
      color: #043546;
      text-align: center; }
      .page-projects .projects-row .projects-thumbnail-header:hover {
        cursor: pointer; }
    .page-projects .projects-row svg {
      height: 1.5rem; }

.page-contact {
  width: 60vw;
  margin-left: 20vw; }
  .page-contact .contact-row #contact-button-send {
    background-color: #FCFAED;
    border: 0.1rem solid #043546;
    border-radius: 0.3rem;
    color: #043546;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    height: 2.5rem;
    margin: auto; }
    .page-contact .contact-row #contact-button-send:hover {
      background-color: #1B969E;
      border: 0.1rem solid #1B969E;
      color: #FCFAED; }
  .page-contact .contact-row #contact-email-input,
  .page-contact .contact-row #contact-name-input {
    height: 3rem; }
  .page-contact .contact-row .contact-input {
    margin-bottom: 1rem;
    position: relative; }
  .page-contact .contact-row .contact-input-field:focus ~ .floating-placeholder,
  .page-contact .contact-row .contact-input-field:not(:placeholder-shown) ~ .floating-placeholder {
    color: #1B969E;
    font-size: 0.7rem;
    top: 0.1rem;
    transition: 0.1s; }
  .page-contact .contact-row .contact-input-field {
    background-color: #FCFAED;
    border-bottom: 0.1rem solid #043546;
    color: #043546;
    padding: 1rem 0 0 0.5rem;
    width: 100%; }
    .page-contact .contact-row .contact-input-field:focus {
      border-color: #1B969E;
      box-shadow: none;
      outline: none; }
  .page-contact .contact-row .floating-placeholder {
    top: 0.5rem;
    color: #043546;
    cursor: text;
    left: 0.5rem;
    position: absolute;
    transition: 0.2s; }
  .page-contact .contact-row form {
    display: block;
    margin: auto;
    width: 100%; }
  .page-contact .contact-row .contact-link-wrapper {
    align-items: center;
    display: flex; }
    .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper {
      color: #043546;
      user-select: auto; }
      .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper .icon-email,
      .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper .icon-github,
      .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper .icon-linkedin {
        fill: #043546;
        height: 2rem; }
      .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper span {
        padding: 0 calc(0.25rem + 0.25vw); }
      .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper:hover {
        color: #1B969E; }
        .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper:hover .icon-email,
        .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper:hover .icon-github,
        .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper:hover .icon-linkedin {
          fill: #1B969E;
          transition: 0.25s ease-out; }
      .page-contact .contact-row .contact-link-wrapper .contact-icon-wrapper:focus {
        outline: none;
        box-shadow: none; }
  .page-contact .contact-row .contact-ctc {
    background: none; }
    .page-contact .contact-row .contact-ctc .icon-copy {
      fill: none;
      height: 1rem;
      position: relative;
      stroke: #043546;
      top: -0.2rem; }
    .page-contact .contact-row .contact-ctc::after {
      background-color: #ECD4B0;
      border-radius: 0.25rem;
      color: #FCFAED;
      content: 'Click to Copy';
      font-size: 0.75rem;
      margin-left: 0.5rem;
      opacity: 0;
      padding: 0.1rem 0.25rem; }
    .page-contact .contact-row .contact-ctc:hover {
      cursor: pointer; }
      .page-contact .contact-row .contact-ctc:hover .icon-copy {
        stroke: #1B969E;
        transition: 0.25s ease-out; }
      .page-contact .contact-row .contact-ctc:hover::after {
        background-color: #1B969E;
        opacity: 1;
        transition: 0.25s ease-out; }
    .page-contact .contact-row .contact-ctc:focus {
      outline: none;
      box-shadow: none; }
      .page-contact .contact-row .contact-ctc:focus::after {
        content: 'Copied!'; }
  .page-contact .contact-row input::placeholder,
  .page-contact .contact-row textarea::placeholder {
    opacity: 0; }

* {
  border: 0;
  margin: 0;
  padding: 0; }

#anchor-contact,
#anchor-projects {
  display: block;
  position: relative;
  top: -20vh; }

body {
  background-color: #1B969E; }

html {
  box-sizing: border-box;
  font-family: Kozuka Gothic Pr6N, Segoe UI, Arial, Verdana;
  overflow: hidden; }

.main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  scroll-behavior: smooth; }
