.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

.navbar {
  color: #0A2425; }
  .navbar .navbar-nav {
    margin-left: auto; }
  .navbar .nav-item a {
    color: #0A2425;
    position: relative; }
    .navbar .nav-item a::before, .navbar .nav-item a::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.1rem;
      width: 0;
      transition-duration: 0.25s; }
    .navbar .nav-item a::before {
      left: 0;
      background-color: #1B969E; }
    .navbar .nav-item a::after {
      right: 0;
      background-color: #1B969E; }
    .navbar .nav-item a:hover {
      color: #1B969E;
      cursor: pointer; }
      .navbar .nav-item a:hover::before, .navbar .nav-item a:hover::after {
        width: 50%; }

@media screen and (max-width: 768px) {
  .navbar .navbar-nav {
    text-align: center; }
    .navbar .navbar-nav .link-projects {
      background-color: #FCFAED;
      color: #0A2425; }
    .navbar .navbar-nav .link-about {
      background-color: #043546;
      color: #ECD4B0; }
    .navbar .navbar-nav .link-contact {
      background-color: #ECD4B0;
      color: #043546; }
  .navbar-toggler {
    transition: all 0.3s ease-in-out; }
    .navbar-toggler .nav-line-hamburger {
      background-color: #0A2425;
      display: block;
      height: 0.1rem;
      margin: 0 0 6px 0;
      width: 2rem;
      transition: all 0.3s ease-in-out; }
    .navbar-toggler:focus {
      outline: none; }
    .navbar-toggler.close-navbar-toggler .nav-line-hamburger:nth-child(1) {
      transform: rotate(45deg) scale(0.7) translate(0.3rem, 0.6rem); }
    .navbar-toggler.close-navbar-toggler .nav-line-hamburger:nth-child(2) {
      transform: scale(0);
      opacity: 0; }
    .navbar-toggler.close-navbar-toggler .nav-line-hamburger:nth-child(3) {
      transform: rotate(-45deg) scale(0.7) translate(0.3rem, -0.6rem); } }

.main {
  min-height: calc(100vh - 90px); }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 60px 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }
