// Animations
@keyframes animation-asteroid-blocks {
  0% { transform: translateZ(-1px); }
  25% { transform: translateZ(1px); }
  100% { transform: translateZ(-100px); }
}

.animation-asteroid-blocks {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: animation-asteroid-blocks;
}

@keyframes animation-asteroid-zoom {
  0% { perspective: 1px; }
  100% { perspective: 10px; }
}

.animation-asteroid-zoom {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: animation-asteroid-zoom;
}

@keyframes animation-chromatophore-icon {
  0% {  }
  50% { fill: $quinary-color; }
  100% { fill: $tertiary-color; }
}

.animation-chromatophore-icon {
  &:hover {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: animation-chromatophore-icon;
  }
}

@keyframes animation-chromatophore-contract {
  0% { 
    color: $primary-color; 
    text-shadow: 
      0 30px $quinary-color, 
      0 -30px $quarternary-color;
  }
  25% { color: $secondary-color; }
  50% { color: $quinary-color; }
  75% { color: $quarternary-color; }
  100% { color: $tertiary-color; }
}

.animation-chromatophore-contract {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: animation-chromatophore-contract;
}

@keyframes animation-chromatophore-expand {
  0% { 
    text-shadow:
      0 -10px $quinary-color, 
      0 10px $tertiary-color;
   }
  50% { 
    color: $tertiary-color;
  }
  100% { 
    color: $quinary-color;
    text-shadow: 
      0 10px rgba(255, 255, 255, 0), 
      0 -10px rgba(255, 255, 255, 0);
  }
}

.animation-chromatophore-expand {
  &:hover {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: animation-chromatophore-expand;
    animation-timing-function: linear;
  }
}

@keyframes animation-chromatophore-reel {
  0% { 
    color: $primary-color;
    stroke: $primary-color;
  }
  25% { 
    color: $secondary-color;
    stroke: $secondary-color;
    text-shadow: 
      15px 0 $quinary-color, 
      -15px 0 $tertiary-color;
  }
  50% { 
    color: $tertiary-color;
    stroke: $tertiary-color;
  }
  75% { 
    color: $quarternary-color;
    stroke: $quarternary-color;
   }
  100% { 
    color: $quinary-color;
    stroke: $quinary-color;
    text-shadow: 
      0 15px rgba(255, 255, 255, 0), 
      0 -15px rgba(255, 255, 255, 0);
  }
}

.animation-chromatophore-reel {
  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: animation-chromatophore-reel;
  }
}

// @mixin rebound-mixin($duration, $fill-mode, $name, $start, $stop) {
//   animation-duration: #{$duration};
//   animation-fill-mode: #{$fill-mode};
//   animation-name: #{$name};
//   @keyframes #{$name} {
//     0% { top: $start; }
//     100% { top: $stop; }
//   }
// }

// .rebound-down {
//   @include rebound-mixin(0.5s, forwards, rebound-down, 0, 20vh);
// }

// .rebound-up {
//   @include rebound-mixin(2s, forwards, rebound-up, 40vh, 20vh);
// }