nav {
  align-items: center;
  // background-color: orange;
  display: flex;
  height: 10vh;
  padding: calc(2rem + 2vh) 0;
  width: 90vw;
  &.nav-fixed {
    position: fixed;
    z-index: 1;
  }
  &.nav-fixed-vanish { display: none; }
  &.nav-net-vanish { opacity: 0; }
}

.scraps {
  & .scrap {
    color: $secondary-color;
    font-weight: 600;
    mix-blend-mode: difference;
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
    &.brand { font-size: 1.5rem; left: 5vw; top: 20vh; }
    & .brand-sub { display: block; font-size: 1rem; left: 1rem; position: relative; }
    &.links { left: 50vw; top: 50vh; }
    & .link-contact,
    & .link-projects {
      background-color: transparent;
      font-size: 1.5rem;
      position: static; 
      &:hover {
        // animation-duration: 0.25s;
        // animation-fill-mode: forwards;
        // animation-name: animation-chromatophore-deconstructed;
        // animation-timing-function: linear;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    & .link-resume,
    & .link-github,
    & .link-linkedin {
      background-color: transparent;
      position: static; 
      & .icon-github,
      & .icon-linkedin,
      & .icon-resume {
        height: 2rem;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    & .link-resume { 
      & circle { fill: $secondary-color; }
      & line,
      & rect { stroke: $primary-color; }
    }
    & .link-github { fill: $secondary-color; }
    & .link-linkedin {
      & circle { fill: $secondary-color; }
      & path { fill: $primary-color; }
    }
    &.display-none { display: none; }
  }
}

.scraps-collected {
  & .scrap-collected {
    color: $secondary-color;
    font-weight: 600;
    mix-blend-mode: difference;
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
    &.brand { font-size: 1.5rem; left: 5vw; }
    & .brand-sub { display: block; font-size: 1rem; left: 1rem; position: relative; }
    &.links { left: 50vw; }
    & .link-contact,
    & .link-projects {
      background-color: transparent;
      font-size: 1.5rem;
      position: static; 
      &:hover {
        // animation-duration: 0.25s;
        // animation-fill-mode: forwards;
        // animation-name: animation-chromatophore-deconstructed;
        // animation-timing-function: linear;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    & .link-resume,
    & .link-github,
    & .link-linkedin {
      background-color: transparent;
      position: static; 
      & .icon-github,
      & .icon-linkedin,
      & .icon-resume {
        height: 2rem;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    & .link-resume { 
      & circle { fill: $secondary-color; }
      & line,
      & rect { stroke: $secondary-color; }
    }
    & .link-github { fill: $secondary-color; }
    & .link-linkedin {
      & circle { fill: $secondary-color; }
      & path { fill: $secondary-color; }
    }
    &.display-none { display: none; }
  }
}