$contact-link-transition: 0.25s ease-out;

.page-contact {
  border: 10px solid $tertiary-color;
  margin-left: 12.5vw;
  width: 75vw;
  & .contact-row {
    & #contact-button-send {
      align-items: center;
      background-color: $secondary-color;
      border: 0.1rem solid $tertiary-color;
      border-radius: 0.3rem;
      color: $tertiary-color;
      display: flex;
      font-size: calc(1rem + 0.25vw);
      font-weight: 600;
      height: 3rem;
      margin: 0 auto calc(1rem + 1vw) auto;
      &:hover {
        background-color: $quinary-color;
        border: 0.1rem solid $quinary-color;
        color: $secondary-color;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    & #contact-email-input,
    & #contact-name-input {
      height: 3rem;
    }

    & .contact-input {
      margin-bottom: 1rem;
      position: relative;
    }

    // https://stackoverflow.com/questions/35942247/how-to-move-placeholder-to-top-on-focus-and-while-typing
    & .contact-input-field:focus ~ .floating-placeholder,
    & .contact-input-field:not(:placeholder-shown) ~ .floating-placeholder {
      color: $quinary-color;
      font-size: 0.7rem;
      top: 0.1rem;
      transition: 0.1s;
    }

    & .contact-input-field {
      background-color: $secondary-color;
      border-bottom: 0.1rem solid $tertiary-color;
      color: $tertiary-color;
      padding: 1rem 0 0 0.5rem;
      width: 100%;
      &:focus {
        border-color: $quinary-color;
        box-shadow: none;
        outline: none;
      }
    }

    & .floating-placeholder {
      top: 0.5rem;
      color: $tertiary-color;
      cursor: text;
      left: 0.5rem;
      position: absolute;
      transition: 0.2s;
    }

    & form {
      display: block;
      margin: auto;
      width: 100%;
    }

    .contact-link-wrapper {
      align-items: center;
      display: flex;
      .contact-icon-wrapper {
        color: $tertiary-color;
        user-select: auto;
        & .icon-email,
        & .icon-github,
        & .icon-linkedin {
          fill: $tertiary-color;
          height: 2rem;
        }
        & span {
          padding: 0 calc(0.25rem + 0.25vw);
        }
        &:hover {
          color: $quinary-color;
          & .icon-email,
          & .icon-github,
          & .icon-linkedin {
            fill: $quinary-color;
            transition: $contact-link-transition;
          }
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      @media (max-width: 767.98px) {
        & .contact-ctc,
        & .contact-icon-wrapper.link-github,
        & .contact-icon-wrapper.link-linkedin {
          display: none;
        }
        & .contact-icon-wrapper.link-email {
          margin: calc(2rem + 2vw) auto 0 auto;
        }
      }
    }

    & .contact-ctc {
      background: none;
      & .icon-copy {
        fill: none;
        height: 1rem;
        position: relative;
        stroke: $tertiary-color;
        top: -0.2rem;
      }
      &::after {
        background-color: $quarternary-color;
        border-radius: 0.25rem;
        color: $secondary-color;
        content: 'Click to Copy';
        font-size: 0.75rem;
        margin-left: 0.5rem;
        opacity: 0;
        padding: 0.1rem 0.25rem;
      }
      &:hover {
        cursor: pointer;
        & .icon-copy {
          stroke: $quinary-color;
          transition: $contact-link-transition;
        }
        &::after {
          background-color: $quinary-color;
          opacity: 1;
          transition: $contact-link-transition;
        }
      }
      &:focus {
        outline: none;
        box-shadow: none;
        &::after {
          content: 'Copied!';
        }
      }
    }

    // Give every <input> and <textarea> an invisible placeholder so that the 
    // animation will toggle depending on :not(:placeholder-shown) instead of 
    // :not(:valid), since :not(:valid) only works with <input> and <textarea> 
    // elements with the 'required' attribute
    & input,
    & textarea {
      &::placeholder{
        opacity: 0;
      }
    }
  }
  @media (max-width: 991.98px) {
    margin-left: 15vw;
    width: 70vw;
  }
  @media (max-width: 767.98px) {
    margin: 0;
    padding: calc(1rem + 1vw) 0;
    width: 100%;
  }
}