$footer-transition: 0.25s ease-in;

.footer {
  background-color: $tertiary-color;
  color: $quarternary-color;
  font-size: calc(1rem + 0.1vw);
  padding: calc(2rem + 2vw);
  text-align: center;
  & .footer-icon-wrapper {
    position: relative;
    &.footer-github-pages { top: -1rem; }
    &.footer-react { top: -0.5rem; }
    & .logo-github-pages {
      height: 3rem;
      margin: 0 calc(0.1rem + 0.1vw);
      & path { 
        fill: $quarternary-color; 
        transition: $footer-transition;
      }
    }
    & .icon-react {
      height: 2rem;
      margin: 0 calc(0.1rem + 0.1vw);
      width: 2.2rem;
      & ellipse { 
        fill: none;
        stroke: $quarternary-color; 
        transition: $footer-transition;
      }
      & circle { 
        fill: $quarternary-color;
        stroke: none;
        transition: $footer-transition;
      }
    }
    &:hover {
      cursor: pointer;
      & .logo-github-pages {
        & path {
          fill: white;
          transition: $footer-transition;
        }
      }
      & .icon-react {
        & ellipse {
          stroke: #7fd7f7;
          transition: $footer-transition;
        }
        & circle {
          fill: #7fd7f7;
          transition: $footer-transition;
        }
      }
    }
  }
  & .footer-navigation {
    padding: calc(1rem + 1vw);
    & .footer-link {
      background-color: transparent;
      color: $quarternary-color;
      margin: 0 calc(0.5rem + 0.5vw);
    }
  }
}