.anchor {
  display: block;
  position: relative;
  top: -5rem;
  visibility: hidden;
}

h1 {
  color: $primary-color;
  font-size: 2rem;
  margin: 3rem 0;
  text-align: center;
}

.main {
  min-height: calc(100vh - 90px);
}