.link-contact,
.link-projects {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: animation-chromatophore-deconstructed;
    animation-timing-function: linear;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

nav {
  align-items: center;
  display: flex;
  background-color: $secondary-color;
  height: 10vh;
  padding: calc(2rem + 2vh) 0;
  width: 80vw;
  &.nav-fixed {
    color: $tertiary-color;
    position: fixed;
    opacity: 1;
    z-index: 1;
    & .fixed {
      opacity: 1;
    }
  }
  &.nav-fixed-vanish { display: none; }
  &.nav-net-vanish { opacity: 0; }
}

.scraps {
  & .scrap {
    color: $quarternary-color;
    font-weight: 600;
    mix-blend-mode: difference;
    padding: 0 1rem;
    position: fixed;
    z-index: 2;
    &.brand { font-size: 1.5rem; left: 5vw; top: 20vh; }
    & .brand-sub { display: block; font-size: 1rem; left: 1rem; position: relative; }
    &.links { left: 50vw; top: 50vh; }
    & .link-contact { position: static; }
    & .link-projects { position: static; }
    &.display-none { display: none; }
  }
}

.scraps-collected {
  & .scrap-collected {
    color: $tertiary-color;
    font-weight: 600;
    padding: 0 1rem;
    position: absolute;
    z-index: 2;
    &.brand { font-size: 1.5rem; left: 5vw; }
    & .brand-sub { display: block; font-size: 1rem; left: 1rem; position: relative; }
    &.links { left: 50vw; }
    & .link-contact { color: $tertiary-color; position: static; }
    & .link-projects { color: $tertiary-color; position: static; }
    &.display-none { display: none; }
  }
}