// Navbar
.navbar {
  background-color: white;
  border-bottom: 0.1rem solid $primary-color;
  color: $primary-color;
  .navbar-nav {
    margin-left: auto;
  }

  // Navbar links & animated underscore (drawn using ::before & ::after)
  .nav-item {
    a {
      color: $tertiary-color;
      margin: 0 1rem;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 0.1rem;
        width: 0;
        transition-duration: 0.25s;
      }
      &::before {
        left: 0;
        background-color: $quinary-color;
      }
      &:hover {
        color: $quinary-color;
        cursor: pointer;
        &::before,
        &::after {
          width: 100%;
        }
      }
    }
  }
}

// Navbar - MOBILE
@include mediaMd {
  .navbar {
    .navbar-nav {
      text-align: center;
      .link-projects {
        // background-color: $secondary-color;
        // color: $primary-color;
      }
      .link-about {
        // background-color: $tertiary-color;
        // color: $quarternary-color;
      }
      .link-contact {
        // background-color: $quarternary-color;
        // color: $tertiary-color;
      }
    }
  }

  // Hamburger icon
  .navbar-toggler { 
    @include easeInOut;
    .nav-line-hamburger {
      background-color: $primary-color;
      display: block;
      height: 0.1rem;
      margin: 0 0 6px 0;
      width: 2rem;
      @include easeInOut;
    }
    &:focus {
      outline: none;
    }
  
    // Rotate menu lines (hamburger icon) into an 'X'
    &.close-navbar-toggler {
      .nav-line-hamburger {
        &:nth-child(1) { transform: rotate(45deg) scale(0.7) translate(0.3rem, 0.6rem); } // rotate
        &:nth-child(2) { transform: scale(0); opacity: 0; } // hide
        &:nth-child(3) { transform: rotate(-45deg) scale(0.7) translate(0.3rem, -0.6rem); } // rotate
      }
    }
  }
}