nav {
  &.navbar {
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    &.display-none {
      display: none;
    }
  }
}

.scraps {
  & .scrap {
    color: $secondary-color;
    font-weight: 600;
    font-size: 1rem;
    mix-blend-mode: difference;
    padding: 1rem 0;
    position: fixed;
    z-index: 2;
    &.brand { font-size: 1.5rem; left: 5vw; top: 5vh; }
    & .brand-sub { display: block; font-size: 1rem; left: 1rem; position: relative; }
    &.links { 
      align-items: space-between;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 5vw;
     }
    & .link-contact,
    & .link-projects {
      background-color: transparent;
      position: static;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    & .link-resume,
    & .link-github,
    & .link-linkedin {
      background-color: transparent;
      position: static;
      & .icon-github,
      & .icon-linkedin,
      & .icon-resume {
        fill: $secondary-color;
        height: 2rem;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &.display-none { display: none; }
  }
  @media (max-width: 767.98px) {
    display: none;
  }
}