// Navbar Constructed Fixed
.scraps-collected {
  & .scrap-collected {
    color: $tertiary-color;
    font-weight: 600;
    padding: 0 1rem;
    position: absolute;
    z-index: 2;
    &.brand { font-size: 1.5rem; left: 5vw; }
    & .brand-sub { display: block; font-size: 1rem; left: 1rem; position: relative; }
    &.links { left: 50vw; }
    & .link-contact { color: $tertiary-color; position: static; }
    & .link-projects { color: $tertiary-color; position: static; }
    &.display-none { display: none; }
  }
}