.page-landing {
  height: 80vh;
}

.page-spacer {
  height: 20vh;
}

.page {
  background-color: $secondary-color;
  padding: calc(2rem + 2vw);
  width: 80vw;
  & .page-header {    
    color: $tertiary-color;
    font-weight: normal;
    font-size: 3rem;
    padding: calc(1rem + 1vw);
  }
}