.page-landing {
  height: 80vh;
}

.page-spacer {
  height: 20vh;
}

.page {
  background-color: $secondary-color;
  padding: calc(2rem + 2vw);
  & .page-header {
    color: $tertiary-color;
    font-weight: normal;
    font-size: calc(1.5rem + 1.5vw);
    padding: calc(1rem + 1vw);
  }
}