.page-landing {
  height: 80vh;
}

.page-spacer {
  height: 10vh;
}

.page {
  background-color: $secondary-color;
  height: 100vh;
  & .page-header {    
    color: $tertiary-color;
    font-weight: normal;
    font-size: 3rem;
  }
}