$projects-transition: 0.35s ease-out;

.page-projects {
  width: 75vw;
  margin-left: 12.5vw;
  .projects-row {
    margin: calc(2rem + 2vw) 0;
    & a {
      color: $tertiary-color;
      font-weight: 700;
      text-decoration: none;
    }
    & .btn {
      align-items: center;
      color: $tertiary-color;
      stroke: $tertiary-color;
      display: flex;
      font-weight: 600;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    $tech-icon-inactive: #aaa;

    .ext-link-aws {
      & path {
        fill: $tech-icon-inactive;
        transition: $projects-transition;
      }
      &:hover {
        & .icon-aws-text {
          fill: #252f3e;
        }
        & .icon-aws-arrow {
          fill: #f90;
        }
      }
    }

    .ext-link-bootstrap {
      & .logo-bootstrap-path {
        fill: $tech-icon-inactive;
        transition: $projects-transition;
      }
      &:hover {
        & .logo-bootstrap-path {
          fill: #563d7c;
        }
      }
    }

    .ext-link-django {
      & path {
        fill: $tech-icon-inactive;
        transition: $projects-transition;
      }
      &:hover {
        & path {
          fill: #092e20;
        }
      }
    }

    .ext-link-flask {
      & path {
        fill: $tech-icon-inactive;
        transition: $projects-transition;
      }
      &:hover {
        & path {
          fill: black;
        }
      }
    }

    .ext-link-heroku {
      & .logo-heroku-path {
        fill: $tech-icon-inactive;
        transition: $projects-transition;
      }
      &:hover {
        & .logo-heroku-path {
          fill: #430098;
        }
      }
    }

    .ext-link-postgresql {
      & path {
        fill: $tech-icon-inactive;
        transition: $projects-transition;
      }
      &:hover {
        & .logo-postgresql-fill-none-stroke-fff {
          fill: none;
          stroke: #fff;
        }
        & .logo-postgresql-fill-fff-stroke-fff {
          fill: #fff;
          stroke: #fff;
        }
        & .logo-postgresql-fill-336791 {
          fill: #336791;
        }
        & .logo-postgresql-stroke-000 {
          stroke: #000;
        }
        & .logo-postgresql-fill-585858 {
          fill: #585858;
        }
      }
    }

    figure {
      margin: 0;
      height: max-content;
      position: absolute;
      width: 100%;
      &::after {
        background-color: $primary-color;
        content: '';
        height: 50%;
        position: absolute;
        top: 50%;
        width: 0;
      }
      &::before {
        background-color: $tertiary-color;
        content: '';
        height: 50%;
        position: absolute;
        width: 0;
      }
      &:hover {
        cursor: pointer;
        &::after {
          background-color: $secondary-color;
          mix-blend-mode: difference;
          right: 0;
          width: 100%;
          transition: 0.5s ease-in;
        }
        &::before {
          background-color: $secondary-color;
          mix-blend-mode: difference;
          width: 100%;
          transition: 0.5s ease-in;
        }
      }
    }

    .icon-external-link {
      height: 1rem;
      margin: 0 0.5rem;
      width: 1rem;
    }

    .projects-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .projects-tech {
      display: flex;
      flex-direction: row;
    }

    .projects-thumbnail {
      object-fit: cover;
      height: 100%;
      // height: 50vh;
      width: 100%;
    }

    .projects-thumbnail-description {
      color: $tertiary-color;
      font-size: 1.1rem;
      padding: 0 calc(1rem + 1vw);
    }

    .projects-thumbnail-header {
      color: $tertiary-color;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }

    svg {
      height: 1.5rem;
    }
  }
}