$projects-transition: 0.35s ease-out;

.page-projects {
  width: 75vw;
  margin-left: 12.5vw;
  & .projects-row {
    margin: calc(2rem + 2vw) 0;
    & a {
      color: $tertiary-color;
      font-weight: 700;
      text-decoration: none;
    }
    & .btn {
      align-items: center;
      color: $tertiary-color;
      stroke: $tertiary-color;
      display: flex;
      font-weight: 600;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    $tech-icon-inactive: #aaa;

    & .ext-link-aws {
      & path { fill: $tech-icon-inactive; transition: $projects-transition; }
      &:hover {
        & .icon-aws-text { fill: #252f3e; }
        & .icon-aws-arrow { fill: #f90; }
      }
    }
    & .ext-link-bootstrap {
      & .logo-bootstrap-path { fill: $tech-icon-inactive; transition: $projects-transition; }
      &:hover {
        & .logo-bootstrap-path { fill: #563d7c; }
      }
    }
    & .ext-link-django {
      & path { fill: $tech-icon-inactive; transition: $projects-transition; }
      &:hover {
        & path { fill: #092e20; }
      }
    }
    & .ext-link-flask {
      & path { fill: $tech-icon-inactive; transition: $projects-transition; }
      &:hover {
        & path { fill: black; }
      }
    }
    & .ext-link-heroku {
      & .logo-heroku-path { fill: $tech-icon-inactive; transition: $projects-transition; }
      &:hover {
        & .logo-heroku-path { fill: #430098; }
      }
    }
    & .ext-link-postgresql {
      & path { fill: $tech-icon-inactive; transition: $projects-transition; }
      &:hover {
        & .logo-postgresql-fill-none-stroke-fff { fill: none; stroke: #fff; }
        & .logo-postgresql-fill-fff-stroke-fff { fill: #fff; stroke: #fff; }
        & .logo-postgresql-fill-336791 { fill: #336791; }
        & .logo-postgresql-stroke-000 { stroke: #000; }
        & .logo-postgresql-fill-585858 { fill: #585858; }
      }
    }

    & figure {
      margin: 0;
      height: max-content;
      position: relative;
      width: 100%;
      & .projects-thumbnail {
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
      &::after {
        background-color: $primary-color;
        content: '';
        height: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transition: 0.25s ease-in-out;
        width: 0;
        z-index: 2;
      }
      &::before {
        background-color: $tertiary-color;
        content: '';
        height: 50%;
        position: absolute;
        transition: 0.25s ease-in-out;
        width: 0;
        z-index: 2;
      }
      &:hover {
        cursor: pointer;
        &::after {
          background-color: $secondary-color;
          mix-blend-mode: difference;
          right: 0;
          transition: 0.25s ease-in-out;
          width: 100%;
        }
        &::before {
          background-color: $secondary-color;
          mix-blend-mode: difference;
          transition: 0.25s ease-in-out;
          width: 100%;
        }
      }
    }

    & .icon-external-link {
      height: calc(0.5rem + 0.5vw);
      margin: 0 0.5rem;
      width: calc(0.5rem + 0.5vw);
    }

    & .projects-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & .projects-thumbnail-description {
        color: $tertiary-color;
        font-size: calc(0.75rem + 0.5vw);
        padding: 0 calc(1rem + 1vw);
        @media (max-width: 767.98px) {
          padding: 0;
        }
      }
      & .projects-thumbnail-header {
        color: $tertiary-color;
        font-size: calc(1rem + 1vw);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: max-content;
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 991.98px) {
          margin-top: calc(1.75rem + 0.75vw);
        }
      }
      & .projects-col-bottom {
        & .btn {
          @media (max-width: 991.98px) {
            margin: auto;
          }
        }
        & .projects-tech {
          display: flex;
          flex-direction: row;
          margin-top: calc(0.5rem + 0.5vw);
          @media (max-width: 991.98px) {
            justify-content: center;
          }
        }
      }
    }

    & svg {
      height: calc(0.75rem + 0.75vw);
    }
  }
  @media (max-width: 991.98px) {
    margin-left: 15vw;
    width: 70vw;
  }
  @media (max-width: 767.98px) {
    margin: 0;
    padding: calc(1rem + 1vw) 0;
    width: 100%;
  }
}