$projects-transition: 0.35s ease-out;

.projects-row {
  & .btn {
    align-items: center;
    color: $tertiary-color;
    stroke: $tertiary-color;
    display: flex;
    font-weight: 600;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  & .ext-link-rcpw,
  & .ext-link-rcpw-github {
    &:hover {
      animation-duration: 0.35s;
      animation-fill-mode: forwards;
      animation-name: animation-chromatophore-external-link;
    }
  }

  .ext-link-aws {
    & path {
      fill: #ccc;
      transition: $projects-transition;
    }
    &:hover {
      & .icon-aws-text {
        fill: #252f3e;
      }
      & .icon-aws-arrow {
        fill: #f90;
      }
    }
  }

  .ext-link-bootstrap {
    & .logo-bootstrap-path {
      fill: #ccc;
      transition: $projects-transition;
    }
    &:hover {
      & .logo-bootstrap-path {
        fill: #563d7c;
      }
    }
  }

  .ext-link-django {
    & path {
      fill: #ccc;
      transition: $projects-transition;
    }
    &:hover {
      & path {
        fill: #092e20;
      }
    }
  }

  .ext-link-postgresql {
    & path {
      fill: #ccc;
      transition: $projects-transition;
    }
    &:hover {
      & .logo-postgresql-fill-none-stroke-fff {
        fill: none;
        stroke: #fff;
      }
      & .logo-postgresql-fill-fff-stroke-fff {
        fill: #fff;
        stroke: #fff;
      }
      & .logo-postgresql-fill-336791 {
        fill: #336791;
      }
      & .logo-postgresql-stroke-000 {
        stroke: #000;
      }
      & .logo-postgresql-fill-585858 {
        fill: #585858;
      }
    }
  }

  figure {
    margin: 0;
    padding-left: calc(2rem + 2vw);
  }

  .icon-external-link {
    height: 1rem;
    margin: 0 0.5rem;
    width: 1rem;
  }

  .projects-col {
    // align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .projects-tech {
    display: flex;
    flex-direction: row;
  }

  .projects-thumbnail {
    height: 50vh;
    object-fit: cover;
    width: 100%;
  }

  .projects-thumbnail-description {
    max-width: 30vw;
  }

  .projects-thumbnail-header {
    color: $tertiary-color;
  }

  svg {
    height: 1.5rem;
  }
}