@import 'colors';
@import 'animations';
@import 'nav';
@import 'page';

* {
  border: 0;
  margin: 0;
  padding: 0;
}

// a {
//   text-decoration: none;
//   &:hover {
//     animation-duration: 0.5s;
//     animation-fill-mode: forwards;
//     animation-name: animation-chromatophore-deconstructed;
//     animation-timing-function: linear;
//   }
// }

#anchor-contact,
#anchor-projects {
  display: block;
  position: relative;
  top: -20vh;
}

body {
  background-color: $quinary-color; // override Bootstrap setting
  // overflow-x: hidden;
  // overflow-y: auto;
  // perspective: 1px;
  // transform-style: preserve-3d;
}

html {
  box-sizing: border-box;
  font-family: Kozuka Gothic Pr6N, Segoe UI, Arial, Verdana;
  overflow: hidden;
}

.main {  
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; // necessary for parallax but causes fixed nav to cover scrollbar
  perspective: 1px;
  position: relative;
  scroll-behavior: smooth;
  z-index: 0;
}