@import 'colors';
@import 'animations';
@import 'brand';
@import 'nav';
@import 'page';
@import 'projects';
@import 'contact';

* {
  border: 0;
  margin: 0;
  padding: 0;
}

#anchor-contact,
#anchor-projects {
  display: block;
  position: relative;
  top: -20vh;
}

body {
  background-color: $quinary-color; // override Bootstrap setting
}

html {
  box-sizing: border-box;
  font-family: Kozuka Gothic Pr6N, Segoe UI, Arial, Verdana;
  overflow: hidden;
}

.main {  
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  scroll-behavior: smooth;
}