@import 'colors';
@import 'animations';
@import 'nav';
@import 'navbar-deconstructed';
// @import 'main';
// @import 'projects';
// @import 'about';
// @import 'contact';
// @import 'footer';

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: animation-chromatophore-deconstructed;
    animation-timing-function: linear;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 60px 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// html {
//   scroll-behavior: smooth;
// }